body {
    background-image: url(FondForum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.opaque{
    background-color: rgb(255, 255, 255,);
}
.cSujet{
   color:  rgb(255,255,255);
}
label{
    color:  rgb(255,255,255);
}
